body, ul, ol, h1, h2, h3, h4, h5, h6, p, form, fieldset, table, td, img, div, dl, dt, dd, input, textarea, select,label,span {
	margin: 0;
	padding: 0;
}
body{background:#e0e0e0;}
html{ font-size:20px; font-family:'黑体';}
ul, ol {
	list-style: none;
}
img {
	border: none;
	vertical-align:bottom;
	-display:block
}
em, i {
	font-style: normal;
}
input, select, textarea {
	outline: none;
	border: none;
	background: none;
}
textarea {
	resize: none;
}
a {
	text-decoration: none;
}
/*去掉虚线框*/
a, label {
blr: expression(this.onFocus=this.blur());
}
a, label {
	outline: none;
}
/*清浮动*/
.clearfix:after, .clearfix:before {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
*zoom: 1;
}
/*全局浮动*/
.fl {
	float: left;
}
.fr {
	float: right;
}
/*index*/
.head{
	background:#1bbc9b;
	display:-webkit-box;
}
.head div{ 
	height:2.25rem; 
	line-height:2.25rem; 
	text-align:center;
	color:#fff;
	font-family:'黑体';
}
.head .left_ico, .head .right_ico{ 
	width:2.5rem;
}
.head .mid{ 
	-webkit-box-flex:1; 
}
.head .left_ico img{
	width:1rem;
	margin-top:0.6rem;
}
.head .right_ico img{
	width:1.5rem;
	margin-top:0.4rem;
}

.khxx{
	background:url(../images/bg_03.png) #fff repeat-x;
	display:-webkit-box;
	padding-bottom:0.5rem;
}
.khxx_left{
	width:3.65rem;
	margin-left:0.4rem;
	margin-top:1rem;
}
.khxx_left img{
	width:3rem;
}
.khxx_rt{
	-webkit-box-flex:1;
	margin-top:0.65rem;
}
.khxx_rt p{
	font-size:0.75rem;
	color:#1bbc9b;	
}
.khxx_rt p.dizhi{
	display:block;
	/*white-space:nowrap; */
	overflow:hidden; 
	/*text-overflow:ellipsis;*/

}

.khxx_rt p.dizhi #demo {
    display: block;
    float: right;
    width: 8.5rem;
    word-break: keep-all;
    white-space: nowrap;
	overflow:hidden;
}


.khxx_rt .khxx_tit{
	font-size:1.2rem;
	color:#626262;
	
}
.dldf_con{
	background:#fff;
	margin-top:0.5rem;
}
.dldf_btn{
	margin-left:0.4rem;
	margin-top:0.5rem;
}
.dldf_btn li{
	width:4.15rem;
	text-align:center;
	border:1px solid #dadada;
	border-radius:0.3rem;
	float:left;
	margin:0 0.4rem;
	font-size:0.75rem;
	height:1.35rem;
	line-height:1.35rem;
}
.dldf_btn li.dldf_active{
	border:1px solid #c25a30;
	color:#c25a30;
}
.jjdl_1{
	font-size:0.75rem;
	margin-left:0.4rem;
	margin-top:0.5rem;
	
}
.jjdl_1 span{
	margin-right:0.5rem;
}
.jjdl_1 span i{
	color:#f7521a;	
}
.jjdl_2{
	margin-top:0.5rem;
}



.jjdl{
	width:14.75rem;
	margin:0.375rem auto;
	overflow:hidden;
	display:none;
}
.jjdl ol{
	display:-webkit-box;
}
.jjdl ol li{
	-webkit-box-flex:1;
	font-size:0.475rem;
	color:#8c8c8c;
	text-align:center;
}
.jjdl ol li span{
	width:0.5rem;
	height:0.5rem;
	display:inline-block;
	vertical-align:middle;
}
.jjdl ol li.jjdl_yj span{
	background:#18bc9a;
	margin-right:0.2rem;
}
.jjdl ol li.jjdl_ej span{
	background:#fbbc00;
	margin-right:0.2rem;
}
.jjdl ol li.jjdl_sj span{
	background:#ff5659;
	margin-right:0.2rem;
}
.jjdl ul{
	-margin-top:0.5rem;
}
.jjdl ul li{
	float:left;
	margin-right:0.6rem;
	margin-top:0.5rem;
}
.jjdl ul li:nth-child(3n+0){
	margin-right:-0.6rem;
}
.jjdl ul .jjdl_yijie{
	width:4.5rem;
	
	background:#ebebeb;
}
.jjdl ul .jjdl_yijie h2{
	text-align:center;
	font-size:0.65rem;
	color:#fff;
	height:1.075rem;
	line-height:1.075rem;
	font-weight:normal;
	background:#18bc9a;
}
.jjdl ul .jjdl_yijie.jjdl_yino h2{
	background:#767676;
}

.jjdl ul .jjdl_yijie .jjdl_yjyf{
	background:#dcf5f1;
	height:2.375rem;
	box-sizing:border-box;
	padding:0.4rem;
}
.jjdl ul .jjdl_yijie .jjdl_nonum{
	background:#ebebeb;
	height:2.375rem;
}
.jjdl_yjyf p{
	margin-top:0.1rem;
	display:-webkit-box;
	font-size:0.6rem;
	color:#50615b;
}
.jjdl_yjyf p img{
	display:inline-block;
	width:0.475rem;
	height:0.6rem;
	
}
.jjdl_yjyf p span{
	font-size:0.6rem;
	-webkit-box-flex:1;
	text-align:right;
	display:block;
	color:#50615b;
	margin-right:0.25rem;
}
.libg{
	background:url(../images/ico_bg.png) repeat-x;
	height:0.25rem;
	
}
.jjdl ul .jjdl_erjie{
	background:#fbf5e0;
}
.jjdl ul .jjdl_erjie h2{
	background:#fbbc00;
}
.jjdl ul .jjdl_yijie.jjdl_erjie .jjdl_yjyf{
	background:#fdf4d7;
}
.jjdl ul .jjdl_yijie.jjdl_sjie .jjdl_yjyf{
	background:#fcd4d5;
}
.jjdl ul .jjdl_yijie.jjdl_yino .jjdl_yjyf{
	background:#ebebeb;
}

.jjdl ul .jjdl_sjie{
	background:#ffefe9;
}
.jjdl ul .jjdl_sjie h2{
	background:#ff5659;
}

/*dfdl_css*/
.dldf_zdl{
	display:-webkit-box;
}
.dldf_zdl div{
	-webkit-box-flex:1;
	box-sizing:box;
	margin-top:0.95rem;
	text-align:center;
}
.dldf_zdl .dldf_zdl_dl, .dldf_zdl .dldf_zdl_df{
	font-size:0.75rem;
	line-height:1.6rem;
}
.dldf_zdl .dldf_zdl_dl img{
	width:1.125rem;
	height:1.6rem;
	margin-right:0.2rem;
}
.dldf_zdl .dldf_zdl_df img{
	width:1.35rem;
	height:1.35rem;
	margin-right:0.2rem;
}
.dldf_zdl .dldf_zdl_dl b, .dldf_zdl .dldf_zdl_df b{
	font-weight:normal;
	color:#fe6c36;
}

.dfxq{
	display:-webkit-box;
	
}
.dfxq div{
	-webkit-box-flex:1;
	text-align:right;
}
.dfxq .dfxq_left{
	text-align:left;
	margin-left:0.5rem;
	font-size:0.7rem;
}
.dfxq .dfxq_ls{
	color:#4edf73;
	font-family:"黑体";
}
.dfxq .dfxq_ls {
	color:#4edf73;
	font-family:"黑体";
}
.dfxq .dfxq_ej{
	color:#fdc101;
	
}
.dfxq .dfxq_sj{
	color:#fe6c36;
	
}
.dfxq .dfxg_du{
	font-size:0.7rem;
	color:#a7a5a5;
	padding-right:0.5rem;
}
.dfxq .dfxg_du .dfxq_ls{
	font-size:0.85rem;
	margin-right:0.3rem;
}
.dfxq .dfxg_du .dfxq_yuan{
	font-size:0.85rem;
	color:#616061;
	margin-right:0.3rem;
	
}
.dl_midtime{
	background:url(../images/bg3_02.png) no-repeat;
	height:5.125rem;
	background-size:contain;
}
.mt175{
	margin-top:1.75rem;
}
.understand{
	border-bottom:1px solid #dfdfdf;
	text-align:right;
	padding-bottom:0.75rem;
}
.understand a{
	
	font-size:0.6rem;
	color:#616061;
	background:url(../images/icowen_03.png) no-repeat right center;
	hieght:0.75rem;
	background-size:contain;
	padding-right:0.75rem;
	margin-right:0.5rem;	
}
.mt1425{
	margin-top:1.425rem;
}
/*mask*/


.mask{
	position:absolute;
	left:0;
	top:2.25rem;
	z-index:2;
	background:rgba(0,0,0,.5);
	width:100%;
	height:calc(100% - 2.25rem);
	
}
.mask_left{
	width:3rem;
	float:left;
	overflow:hidden;
}
.mask_left img{
	width:2.275rem;
	margin-top:16.575rem;
	margin-left:0.6rem;
}
.maskRight{
	width:10.9rem;
	margin-left:2.875rem;
	margin-top:4rem;
	
}
.mask_right{
	background:#e6e8e8;
	border-top-left-radius:0.875rem;
	border-top-right-radius:0.875rem;
	overflow:hidden;
}
.mask_right h1{
	font-size:0.9rem;
	color:#f66c22;
	
	margin-top:0.675rem;
	margin-left:0.5rem;
}
.mask_right h2{
	font-size:0.55rem;
	color:#aaa9a8;
	font-weight:normal;
	margin-left:0.5rem;
	margin-top:0.425rem;
}
.mask_table{
	background:#fff;
	margin-top:0.625rem;
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
	border:1px solid #b2b2b2;
	border-right:none;
}
.mask_table thead{
	background:#f1fcf4;
}
.mask_table thead th{
	height:1.4rem;
	line-height:1.4rem;
	border:none;
}
.mask_table thead .mask_dl, .mask_table thead .mask_df{
	font-size:0.5552rem;
	color:#4ddf74;
}
.mask_table thead .mask_df{
	color:#fe6c36;
}

.mask_table thead .mask_dl img, .mask_table thead .mask_df img{
	width:0.4rem;
	margin-right:0.2rem;
	vertical-align:middle;
}
.mask_table tbody{
	-border-right:none;
}
.mask_table td{
	font-size:0.5552rem;
	text-align:center;
	color:#010101;
	height:1.25rem;
	border-left:1px solid #b2b2b2;
	border-top:1px solid #b2b2b2;
}
.mask_xunwen{
	font-size:0.45rem;
	color:#525252;
	margin-top:0.5rem;
	margin-left:0.5rem;
	line-height:0.75rem;
	width:10rem;
}
.mask_xunwen em{
	color:#fe6c36;
	display:inline-block;
}
.mask_button{
	width:10.2rem;
	height:1.75rem;
	background:#fe6c36;
	text-align:center;
	color:#fff;
	line-height:1.75rem;
	margin:0.625rem auto;
	font-size:0.75rem;
	margin-bottom:0.625rem;
}
.mask_bg{
	background:url(../images/mask_06.png) no-repeat;
	height:0.75rem;
	margin-left:-0.17rem;
	width:11.075rem;
	background-size:cover;
	
}
/*仪表盘*/
.ybp_con{
	background:#fff;
	margin-top:0.5rem;
	padding-bottom:0.5rem;
}
.con{
	position: relative;
}
#box{
	width:100px;
	position: absolute; 
	left:50%;
	margin-left:-50px;
	top:75%; 
	z-index: 1000000; 
	text-align:center;
	
}
/*jieti*/
.jieti_1{
	display:-webkit-box;	
}
.jieti_1 li{
	-webkit-box-flex:1;
	font-size:0.75rem;
	text-align:center;
	color:#bababa;
}
.jieti_1 li span{
	display:inline-block;
	width:0.65rem;
	height:0.65rem;
	margin-right:0.1rem;
	margin-top:0.1rem;
}
.jieti_1 li.jt_1 span{
	background:#00b285;
}
.jieti_1 li.jt_2 span{
	background:#ffbb00;
}
.jieti_1 li.jt_3 span{
	background:#ff575e;
}
.jtTable tr{
	height:1.75rem;
	line-height:1.75rem;
}
.jtTable{
	width:100%;
}
.jtTable td{
	font-size:0.75rem;
	border-top:1px solid #eaeaea;
	color:#555;
}
.jtTable td:nth-child(1){
	text-align:center;
}
.jtTable td:nth-child(2){
	text-align:left;
}
.jtTable td:nth-child(3){
	text-align:left;
	color:#dd8d67;
}
.jtTable td:last-child{
	text-align:right;
	padding-right:10px;
	color:#dd8d67;
}
.jt_lsyd a{
	display:block;
	width:14.1rem;
	height:2.25rem;
	background:#4cc69d;
	line-height:2.25rem;
	font-size:0.75rem;
	color:#fff;
	padding:0 0.5rem;
	margin:0.5rem auto;
}
.box img{
	width:0.55rem;
	height:0.925rem;
}

.address span{
	display:block;
	float:right;
	width:8.5rem;
	overflow:auto;
	word-break:keep-all;/* 不换行 */
white-space:nowrap;/* 不换行 */
}


/*用电详情*/

.ydxq{
	display:-webkit-box;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	background:#fff;
}
.ydxq div{
	height:3.375rem;
	line-height: 3.375rem;
	text-align:center;
	color:#616161;
	font-size: 0.75rem;
}
.ydxq_ico{
	width:1.5rem;
	margin-left: 0.5rem;
	margin-right: -0.3rem;
}
.ydxq_ico img{
	width:1rem;
	margin-top:1.1rem;
}
.ydxq_xx{ 
	-webkit-box-flex:1; 
}
.ydxq_xx i{
	color: #ff7e45;
}
.ydxq_left{
	margin-left: -0.2rem;
}
.juti li{
	width:100%;
	height:3.375rem;
	border-bottom: 1px solid #eaeaea;
	font-size: 0.75rem;
	color: #aeaeae;
	background:#fff;
}

.left{
	float:left;
	height:2.375rem;
	margin-top: 0.9rem;
	margin-left: 0.7rem;
	
}
.top{
	color: #1bbc9b;
}
.mid{
	float:left;
	line-height: 3.375rem;
	margin-left: 3.6rem;
}
.right{
	float: left;
	line-height: 3.375rem;
	margin-left: 1.5rem;
}
.mid i, .right i{
	color: #1bbc9b;
	font-size: 0.9rem;
}

















